<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cadastro.css">
    <title>Document</title>
</head>
<body>
    <form action="/home/enviar" method="post">
        <div>
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome">
        </div>
        <div>
            <label for="placa">Placa</label>
            <input type="text" id="placa" name="placa">
        </div>
        <div>
            <label for="modelo">Modelo do Carro</label>
            <input type="text" id="modelo" name="modelo">
        </div>
        <button type="submit" onclick="showPoopup">Registrar</button>
    </form>
</body>
</html>