<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <main>
        <div class="intro">
            <h1>UNDERGROUND</h1>
            <p>Apaixonados por Carros</p>
            <p>O maior encontro de Carros </p>
            <p> Comboio e encontros nas quintas</p>
            <h3>Venha fazer parte!</h3>
            <a href="/home/cadastro">Garanta sua vaga!</a>
        </div>
    </main>
</body>

</html>