*{
    margin: 0;
    padding: 0;
}


body{
    width: 100vw;
    height: 100vh;
    background: #818e9c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
form{
    padding: 1rem;
    border-radius: 16px;
    width: 200px;
    background: #fff;
    display: flex;
    flex-direction: column;
 
}
button{
    border-radius: 5px;
    margin-top: 0.75rem;
}